<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/community/winter/util"
            deprecated="false"
            factory-class="de.unikonstanz.winter.util.node.open.OpenFactory">
      </node>
   </extension>
   <extension
         point="org.knime.workbench.repository.categories">
      <category
            icon="icons/util.png"
            level-id="util"
            locked="true"
            name="Util"
            path="/community/winter/">
      </category>
   </extension>

</plugin>
